.App {
  text-align: center;
  font-size: 30px;
  background: bisque;
  margin-bottom: 20px;
}
.xZero{
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
  background: rgb(174, 226, 209);
  padding: 20px;
}
.minXzero{
  box-shadow: 12px 12px 2px 1px rgba(1, 12, 5, .2);
  padding-top: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  width: 90px;
  height: 90px;
  float: left;
  font-size: 50px;
  background: maroon;
  color: aquamarine;
  margin: 5px 5px 5px 5px;
  text-transform: uppercase;
  text-align: center;
}
button{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family: fantasy;
  position: relative;
  background: rgb(235, 135, 135);
   top: -300px;
  padding: 10px;
  margin: 2px; 
  font-size: 25px;
}
.results{
  display: none;
}
button:hover{
  background: rgb(174, 226, 209);
  cursor: pointer;
  
}
.center{
  padding-top: 15px;
font-family: fantasy;
}
